.countdowncard {
  display: grid;
  gap: 0.9rem;
}

.countdowncard__text {
  color: hsl(var(--clr-primary-blue));
  letter-spacing: 0.2rem;
  font-size: 0.6rem;
  text-align: center;
}

.countdowncard__number {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: hsl(var(--clr-primary-red));
  font-size: 2.5rem;
  aspect-ratio: 1;
  background-color: hsla(var(--clr-neutral-200), 1);
  border-radius: 5px;
  overflow: hidden;
}

.countdowncard__number > span {
  position: absolute;
}

.top {
  position: absolute;
  height: 100%;
  width: 150%;
  background-color: hsla(var(--clr-neutral-300), 0.3);
  z-index: 4;
  transform: translatey(-50%);
}

.circle {
  position: relative;
  width: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: hsl(var(--clr-neutral-400));
  z-index: 5;
}

.circle-left {
  transform: translateY(50%);
  left: -50%;
}

.circle-right {
  transform: translateY(-50%);
  left: 50%;
}
