.countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.countdown__number {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: hsl(var(--clr-primary-red));
}

.countdown__text {
  content: "DAYS";
  color: hsl(var(--clr-neutral-200));
  letter-spacing: 0.2rem;
  font-size: 0.875rem;
  text-align: center;
}
