.countdown {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 4rem);
  gap: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 20.625rem) {
  .countdown {
    grid-template-columns: repeat(2, 4rem);
  }
}

@media (min-width: 48rem) {
  .countdown {
    grid-template-columns: repeat(4, 6rem);
  }
}
