.countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.countdown__number {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: hsl(var(--clr-primary-red));
}

.countdown__number::after {
  content: "DAYS";
  color: hsl(var(--clr-neutral-200));
  letter-spacing: 0.3rem;
  font-size: 0.875rem;
}

.countdown__number--hours::after {
  content: "HOURS";
}

.countdown__number--minutes::after {
  content: "MINUTES";
}

.countdown__number--seconds::after {
  content: "SECONDS";
}
