footer {
  min-height: 25vh;
  min-height: 25svh;
  background-color: hsl(var(--clr-neutral-400));
  background-image: url(/pattern-hills.svg);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: bottom right;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
  gap: 2rem;
  transition: filter 0.3s;
}

footer > a:hover {
  filter: brightness(0) saturate(100%) invert(54%) sepia(95%) saturate(2214%)
    hue-rotate(310deg) brightness(101%) contrast(97%);
}
