/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --clr-primary-blue: 237, 18%, 59%;
  --clr-primary-red: 345, 95%, 68%;

  --clr-neutral-100: 0, 0%, 100%;
  --clr-neutral-200: 236, 21%, 26%;
  --clr-neutral-300: 235, 16%, 14%;
  --clr-neutral-400: 234, 17%, 12%;

  --ff-base: "Red Hat Text", sans-serif;
  --fw-bold: 700;
}

@font-face {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  src: url();
}

main {
  min-height: 75vh;
  min-height: 75svh;
  background-image: url(/bg-stars.svg);
  background-color: hsl(var(--clr-neutral-400));
  font-family: var(--ff-base);
  font-weight: var(--fw-bold);
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
